html, body {
  height: 100%
}
/*Navbar */
.navbar {
  width: 100%;
  position: fixed;
  z-index: 1;
}

.navbar-text {
  float: right;
}
/*Footer */
.page-footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  height: 60px;
  background-color: #efefef;
  text-align: center;
}
/*Login and Signup */
.login {
  display: flex;
}

.submit {
  margin: auto;
  height: 400px;
  width: 400px;
}

.submitButton {
  margin: 15px;
}
/*UsersWithMaps left and right column */
.usersRight {
  position: fixed;
}

.usersLeft {
  margin-top: 60px;
}

.thumbnail .caption {
    height: 110px;
}

.usersThumb {
  width: 210px;
  height: 290px;
}

.btn-primary {
  margin-right: 5px;
}
