.usersThumb {
  width: 80%;
  height: 290px;
  margin: 90px 0 0 40px;
  border: 1px solid black;
  padding: 5px;
  border-color: black;
  text-align: center;
  box-shadow: 4px 10px 4px grey;
}

.usersImg {
  /* opacity: 0.7; */
  margin: -70px 0 20px;
}

h5.user-name {
  font-size: 18px;
}
h6.usersIndustry{
  font-size: 16px;
  color: #32a0d1;
  margin-bottom: 10px;
}
.btn-toolbar {
  margin-left: 40px;
  margin-bottom: 30px;
}

.usersWithMapsRow {
  margin-top: 80px;
  margin-left: 5px;
}

.usersButtons{
  position: absolute;
  bottom: 5px;
  padding: 10px;
}

.usersIndustry{
  font-style: italic;
}

.usersCol{
  margin: 5px;
}